@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-family: sans-serif;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
}